<div id="prologue_slide_title"><h1>Currently Playing:</h1></div>
<div id="music-info">
    <div id="music-title"><h2>{{ session.music.title }}</h2></div>
    <div id="music-composer">by {{ session.music.composer }} {{ session.music.description }}</div>
    <div id="music-performer">Performed by {{ session.music.performer }} </div>
    <div id="music-year">under {{ session.music.conductor }} {{ session.music.year }}</div>
</div>
<div id="key-visual-1a"><img src="themes/{{ session.theme }}/img/KeyVisual1A.png"></div>

