<h1>EG'2021 SOCIAL MEDIA:</h1>
<div class='social_container'>
    <div class="social_card">
        <img class="social_image" src="../themes/{{ session.theme }}/img/twitter.png">
        <a>@EurographicsC</a>
    </div>
    <div class="social_card">
        <img class="social_image" src="../themes/{{ session.theme }}/img/facebook.png">
        <a>fb.me/EurographicsC</a>
    </div>
    <div class="social_card">
        <img class="social_image" src="../themes/{{ session.theme }}/img/instagram.png">
        <a>@EurographicsC</a>
    </div>
</div>
