<div class='welcome'>
<div class='session-title'>{{ session.title }}</div>

{% set start = session.start|replace({'Z': ''}) %}
{% set end = session.start|replace({'Z': ''}) %}
{% for entry in session.program %}
    {% set end = end|date_modify('+' ~ entry.duration ~ ' seconds') %}
{% endfor %}
<div class='date'>{{ start|date('G:i') }} - {{ end|date('G:i') }} CEST</div>
</div>
{% if session.chair %}
<div id="session-chair">
    {% if session.chair|length > 1 %}
    <div class="chairLabel">Session Chairs:</div>
    {% else %}
    <div class="chairLabel">Session Chair:</div>
    {% endif %}
    {%- for i, chair in session.chair -%}
    <div class="chair">
        {% if i > 0%}
        || &nbsp;&nbsp;
        {% endif %}
        <div class="chairName">{{ chair.name }}</div>
        <!--<div class="chairAffiliation">{{ chair.affiliation }}</div>-->
    </div>
    {%- endfor -%}
</div>
{% endif %}
