/*** Calendar ***/
.calendar {
  display: grid;
}
.calendar > div,
.calendar > a
{
  border-radius: 5px;
  margin: 1px;
  background: #f1f1f1;
  overflow: hidden;
  color: black;
  padding: 2px;
  z-index: 1;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1);
}
.calendar > a:hover,
.calendar > a:active,
.calendar > a:visited {
  color: black;
}
.calendar > div.times {
  border: 0;
  grid-column: times;
  text-align: right;
  background-color: #ffffff;
  box-shadow: none;
  margin-top: -0.8em;
  z-index: 1;
}
.calendar > div.day {
  border: 0;
  grid-row: days;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  box-shadow: none;
  background: #ffffff;
}
.calendar > a > div.title {
  display: none;
}
.calendar > a > div.short_title {
  margin-left: 0.2em;
}
.calendar > .daySpacer {
  grid-row: days / end;
  border: none;
  border-left: 1px dashed grey;
  background: none;
  margin-left: 50%;
  pointer-events: none;
  box-shadow: none;
}
.calendar > .timeSpacer {
  grid-column: times / end;
  border: none;
  border-top: 1px dashed grey;
  background: none;
  pointer-events: none;
  height: 1px;
  z-index: 0;
  box-shadow: none;
}
/*** /Calendar ***/
